 * {
     text-align: center;
     font-family: Helvetica;
     color: seashell;
     background-color: black;
     opacity: 0.9;
     font-size: 22px;
 }

 header {
     display: flex;
     justify-content: space-between;
     border-bottom: 1px solid seashell;
     height: 70px;
     position: fixed;
     width: 100%;
     z-index: 1;
 }

 .header-logo {
     text-align: left;
     padding-left: 10px;
     margin: 0px;
     font-size: 50px !important;
 }

 nav {
    padding-right: 20px;
}
