 * {
     text-align: center;
     font-family: Helvetica;
     color: seashell;
     background-color: black;
     opacity: 0.9;
 }

 header {
     display: flex;
     justify-content: space-between;
     border-bottom: 1px solid seashell;
     height: 70px;
     position: fixed;
     width: 100%;
     z-index: 1;
 }

 header img {
     padding: 10px;
 }

 nav {
     padding-right: 20px;
 }

 .nav-bar a {
    padding-left: 20px;
    font-size: 22px;
 }
 
 div {
    position: relative;
 }
 .our-mission {
    height: 700px;
    width: 1200px;
    position: relative;
    display: inline-flex;
    margin-top: 70px;
    background-image: url("img-mission-background.jpg");
 }

 .text-mission {
    top: 45%;
    width: 1200px;
    height: 100px;
    opacity: 1;
 }
